body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-section {
    display: flex;
    flex: 1;
}

.hero-section .text .main-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-section .image {
    display: flex;
    flex: 1;
}

.placeholder {
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: #e5e7eb;
}

.subtext, .links {
    font-size: 18px;
    color: #e5e7eb;
}

.informations, .quotes{
    display: flex;
    flex-direction: column;
    flex: 1;
}


.call-box-content, button {
    background-color: #3882F6;
    color: #e5e7e8;
}

.call-box {
    display: flex;
    flex: 4;
    justify-content: center;
    align-items: center;
}

.call-box-content {
    display: flex;
    padding: 24px 48px;
    justify-content: space-between;
    min-width: 600px;
    align-items: center;
}

.call-header {
    color: #e5e7e8;
    font-size: 18px;
    font-weight: 900;
}

.call-subtext {
    font-size: 14px;
    color: #e5e7e8;
}

.call-button {
    background-color: #3882F6;
    border: 1px solid white;
    padding: 4px 16px;
    font-weight: 900;
}

.header, .hero-section, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.informations .title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quotes .quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1F2937;
    font-style: 300;
    font-style: italic;
}

.links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 12px;
}


a {
    text-decoration: none;
    color: #e5e7e8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}


